# Django-specific
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
db.sqlite3
media/
static/
venv/
.env
migrations/

# Other common patterns
node_modules/
*.swp
*.tmp
*~

/staticfiles/

# Ignore Data files provided for initial setup
data.py
data.json
data_images
delete_data.py